.form-footer__button--mail {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--accent-color);
    color: #FFFFFF;
    width: 200px;
    height: 50px;


    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: 0;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
}
.modal-social__send--button {
    background-color: var(--accent-color);
    color: #FFFFFF;
    border: 0;
    cursor: pointer;
    display: block;
    margin: 0 auto;
    padding: 10px 52px;
    margin-top: 30px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}
.modal-social__close--button {
    cursor: pointer;
    position: absolute;
    right: 8px;
    top: 8px;
    background-color: var(--primary-white-color);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    & .icon--close:hover,
    &  .icon--close:focus {
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        fill: var(--accent-color);
        }

}
.hero-primary__primary--button {
    border-radius: 4px;
    padding: 10px 32px;
    margin: auto;
    display: inline-block;
    color: var(--primary-white-color);
    background-color: var(--accent-color);
    min-width: 216px;
    min-height: 50px;
    cursor: pointer;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.06em;
    text-align: center;
    border: 1px solid transparent;
}
.filter-portfolio__button--item {
    border: transparent;
    color: #212121;
    background-color: #F5F4FA;
    cursor: pointer;
    padding: 6px 22px;
    border: transparent;
    border-radius: 4px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    letter-spacing: 0.03em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}


.filter-portfolio__button--item {
    border: transparent;
    color: #212121;
    background-color: #F5F4FA;
    cursor: pointer;
    padding: 6px 22px;
    border: transparent;
    border-radius: 4px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    letter-spacing: 0.03em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
            border: transparent;
            border-radius: 4px;
            color: #FFFFFF;
            background-color: #2196F3;
            box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
        }
}


.button-menu {
    position: relative;
    width: 40px;
    height: 40px;
    left: 344px;
    top: 7px;
    display: inline-flex;
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
}
