.features-class__features {
    display: flex;
    gap: 30px;

@media screen and(max-width:768px) {
    flex-direction: column;
    align-items: center;
}

@media screen and(min-width:768px) {
    flex-basis: calc((100%-60px) / 2);
}

@media screen and (min-width:1200px) {
    flex-basis: calc((100%-90px)/4);
}
}

.features-section {
    padding-bottom: 0;
}




 .features-class__section--title {
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    color: #212121;
    margin-top: 0;
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;

}



.features-class__features--text {
    @media screen and (min-width:480px) {
    margin-bottom: 30px;   
    }
    margin-top: 10px;
    color: #757575;
    font-size: 14px;
    line-height: 1.7;
    color: var(--primary-text-color);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
}

.features-class__pages {
    @media screen and (min-width:480px) {
            width: 100%;
        }
    width: 270px;
    height: 120px;
    padding: 25px 101px;
    margin-bottom: 30px;
    background: #F5F4FA;
    border-radius: 4px;
    justify-content: center;
}

.title {
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    margin-bottom: 10px;
}