.hero-primary {
    background-image: linear-gradient(to bottom, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/border.img.jpg);
    padding: 200px 0;
    display: block;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    text-transform: uppercase;

}
.hero-primary__hero--title {
    @media  screen and (min-width:480) {
        font-size: 26px;
        line-height: 42px;
    }
    margin-bottom: 30px;
    color: var(--primary-white-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.page-header {
    border-bottom: 1px solid #ECECEC;
}


.header--block {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}