.hero-primary {
    @media (min-width:480px) {
        width: 400px;
        width: 100%;
        
    }
    border-bottom: 1px solid #ECECEC;
    background-image: linear-gradient(to bottom, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/border.img.jpg);
    padding: 200px 0;
    display: block;
    height: 600px;
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    color: var(--primary-white-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.3;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;

}
.hero-primary__hero--title {
    margin-bottom: 30px;
    color: var(--primary-white-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.page-header {
    @media (min-width:480px) {
      max-width: 480px;
      
      margin-bottom: 16px;  
    }
    
}


.header--block {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}