.modal-social {
    justify-content: center;
    align-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.2);
    width: 100%;
    height: 100%;
    scale: 1;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.modal-social__window {
    @media screen and(max-width:1199px) {
        max-width: 450px;
            width: 100%;
    }
   
    margin: 0 15px;
    position: absolute;
    padding: 40px;
    display: flex;
    max-width: 528px;
    background-color: var(--primary-white-color);
    justify-content: center;
    align-items: flex-start;
    border-radius: 4px;

    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);

}

.modal-social__specials--form {
    display: block;
}

.modal-social__modal--input {
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding: 10px 42px;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.1666;
    letter-spacing: 0.01em;
    outline: 0;
    fill: currentColor;
    width: 100%;
    margin-bottom: 10px;
   & .modal-social__icon--form:hover {
            fill: var(--accent-color);
        }
}

.modal-social__privacy--modal {
    @media screen and(max-width:1199px) {
        margin-bottom: 31px;
    }
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7142;
    letter-spacing: 0.03em;
    color: #757575;
    margin-top: 20px;
    text-align: center;
    margin-bottom: 30px;
}

.modal-social__privacy--modal label {
    @media screen and(max-width:1199px) {
        font-size: 12px;
        line-height: 14px;
    }
    position: relative;
}

.modal-social__privacy--modal input {
    display: none;
}

.modal-social__privacy--modal label::before {
    /* position: absolute; */
    cursor: pointer;
    display: inline-block;
    content: "";
    width: 16px;
    height: 15px;
    margin-right: 7px;
    border: 1px solid #757575;
    border-radius: 2px;
}







.input__mail {
    background-color: transparent;
    color: #FFFFFF;
    max-width: 358px;
    width: 358px;
    height: 50px;
    outline: 0;
    padding: 15px 16px;




}



.modal-social__modal--input {
    padding: 12px 30px;
    width: 100%;
    height: 40px;

    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
                &:focus {
                    outline: transparent;
                 }
                &:hover,
                &:focus {
                    border: 1px solid #2196F3;
                }
        
                &:focus+svg {
                    fill: #2196F3;
                }
        
                &:hover+svg {
                    fill: #2196F3;
                }
}







.modal-social__privacy--modal input:checked+label::before {
    background-image: url(../images/checkbox.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-color: var(--accent-color);
    border: var(--accent-color);
}

.modal-social__support--modal {
    @media screen and(max-width:1199px) {
        font-size: 12px;
            line-height: 14px;
    }
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: var(--accent-color);
    text-decoration: underline;
}

.input__mail {
    background-color: transparent;
    color: #FFFFFF;
    max-width: 358px;
    width: 358px;
    height: 50px;
    padding: 15px 16px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
}

.modal-social__modal--textarea {
    resize: none;
    font-size: 12px;
    line-height: 1.1666;
    letter-spacing: 0.01em;
    color: var(--primary-text-color);
    margin-top: 4px;
    max-width: 448px;
    max-height: 120px;
    width: 100%;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding: 12px 16px;
    outline: 0;
    &:hover,
    &:focus {
    border-color: var(--accent-color);
        }
}



.modal-text {
    margin-top: 20px;
    margin-bottom: 30px;
    font-size: 14px;
    line-height: 1.7142;
    letter-spacing: 0.03em;
    color: #757575;
}

.modal-social__link--modal {
    font-size: 14px;
    line-height: 1.7142;
    letter-spacing: 0.03em;
    color: var(--accent-color);
    text-decoration: underline;
}

.checkbox-label {
    display: flex;
    justify-content: center;
    gap: 8px;
    margin-bottom: 30px;
    color: #757575;
    ;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;

}



.modal-social__modal--label {
    color: #757575;
    position: relative;
    margin-bottom: 2px;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.1666;
    letter-spacing: 0.01em;
}




.modal-social__icon--form {
    margin-left: 5px;
    position: absolute;
    z-index: 50;
    top: 26px;
    left: 6px;
}




.modal-social__label--name {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
    margin-bottom: 12px;
}

.name-title {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.1666;
    letter-spacing: 0.01em;
    color: #757575;
}

.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}