.site-nav {
    margin-left: 93px;
    gap: 50px;
}



.site-nav__item.current::after {
    @media screen and(max-width:480px) {
        content: none;
    }
    position: absolute;
    content: "";
    display: block;
    bottom: -3px;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--accent-color);
    z-index: 1;
}


.site-nav  {
    @media screen and(max-width:480px) {
                display: block;
        }
    position: relative;
    color: var(--title-text-color);
   
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    display: flex;
    
    & .site-nav__item:hover,
    & .site-nav__item:focus {
            color: var(--accent-color);
        }
    & .site-nav__item.current {
    color: var(--accent-color);
        
                }
}
.site-nav__item {
position: relative;
color: var(--title-text-color);
padding-top: 32px;
padding-bottom: 32px;
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
text-decoration: none;
display: flex;
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.live-menu .site-nav__item {
    @media screen and(max-width:480px) {
        font-weight: 500;
            font-size: 40px;
    }
}




