.filter-portfolio {
    @media screen and(max-width:480px) {
        flex-wrap: wrap;
    }
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    gap: 8px;
}
.portfolio-themes {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    box-sizing: border-box;

    @media screen and (max-width:480px) {

        justify-content: center;
    }

    @media screen and(min-width:768px) {
            flex-wrap: wrap;
            display: flex;
            gap: 30px;
    
            .portfolio-themes__item--port {
                width: calc(50% - 15px);
            }
    
        }
    
        @media screen and(min-width:1200px) {
            flex-wrap: nowrap;
    
            .portfolio-themes__item--port {
                width: auto;
            }
    
        }

}

.portfolio-themes .title {
    color: var(--title-text-color);
    align-items: center;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    margin-bottom: 4px;

}

.portfolio-themes .text {
    color: #757575;
    font-size: 16px;
    line-height: 1.8;
    margin: 0;
    text-decoration: none;
    list-style: none;
}

.portfolio-themes {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;

}

.portfolio-themes:not(:nth-last-child(-n + 3)) {
    margin-bottom: 30px;
}

.portfolio-themes .list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.portfolio-themes__item--port {
    background: #FFFFFF;
    display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover .portfolio-themes__info--text,
    &:focus .portfolio-themes__info--text {
            transform: translateX(0%);
        }
    &:hover {
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
        }
}


.signature {
    padding: 20px 24px;
    border: 1px solid #EEEEEE;
    border-top: none;
}

.portfolio-themes__info--photo {
    display: block;
    position: relative;
    overflow: hidden;
}

.portfolio-themes__info--text {
    position: absolute;
    overflow: auto;
    font-size: 18px;
    line-height: 1.55;
    letter-spacing: 0.03em;
    color: var(--primary-white-color);
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 63px 24px;
    background: rgba(33, 150, 243, 0.9);
    transform: translateY(101%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

