.section-team {
    background-color: #F5F4FA;
    @media screen and (min-width:480px) {
    padding-bottom: 60px;
    }
    
}

    
.team-primary__team {
    @media screen and (min-width:1200px) {
        display: flex;
        justify-content: center;
        gap: 30px;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

   
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 30px;
        padding-bottom: 60px;
    }
    


.team-socials__social--networks {
    fill: currentColor;
}

.team-primary__team--title {
    margin-bottom: 50px;
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    padding-top: 60px;
}

.team-primary__description--title {
    margin-top: 30px;
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
}

.team-primary__description {
    color: #757575;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;

}

.team-primary__team {
    @media screen and (min-width:1200px) {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 30px;
}
}

.team-primary {
    background-color: #F5F4FA;
    flex-wrap: wrap;
    
}

.team-people {
    max-width: 100%;
    height: auto;
    display: block;
}

 .team-primary__item {
    background-color: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;

}


.team-primary__team .image {
    margin-bottom: 30px;
    @media screen and (min-widht:480px) {
    width: 450;
    height: 460;
    }
}

.team-primary__team .title {
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    margin-bottom: 10px;
    text-align: center;
}

.team-primary__desc {
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.1875;
    text-align: center;
    letter-spacing: 0.03em;
}

.team-primary__desc {
    color: #757575;
    font-weight: 400;
    padding-top: 10px;
    margin-bottom: 16px;
    font-size: 16px;
    line-height: 1.1875;
    text-align: center;
    letter-spacing: 0.03em;
}


.team-socials__social--networks {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #AFB1B8;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
    color: #FFFFFF;
    background-color: #2196F3;
        }
}



.team-socials {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-bottom: 30px;
    
}