.work-info__section--work {
    margin-bottom: 94px;
    @media screen and(min-width:480px){
        display: none; 
    }

    @media screen and(min-width:1200px) {
    display: flex;
        justify-content: center;
        gap: 30px;
    }
    
}
 

.work-info__img--about {
    display: block;
}

.work-info__section--item {
    position: relative;
    @media screen and(max-width:1199px) {
        display: none;
    }
}

.work-info__work--text {
    position: absolute;
    left: 0;
    bottom: 0;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
    background: rgba(47, 48, 58, 0.8);
    padding: 27px;
    width: 100%;
}


    .work-info {
        @media screen and(max-width:1199px) {
                display: none;
            }
        
            @media screen and(min-width:1200px) {
                display: flex;
                    justify-content: center;
                    margin-bottom: 50px;
                    font-weight: 700;
                    font-size: 36px;
                    line-height: 42px;
                    text-align: center;
                    letter-spacing: 0.03em;
                    color: #212121;
            }
      
        }
    